/* Basic CSS file for Sprout & Grow website */



body,
html {
    margin: 0;
    padding: 0;
    font-family: Georgia, serif;
    background-color: #fff;
}

header {
    background-color: #e0e4d4;
    text-align: center;
    padding: 10px 0;
}

h1,
h2 {
    color: #054d3b;
    font-size: 30px;
    text-align: center;
}



h2,
h3,
h4 {
    color: #054d3b;
    font-size: 30px;
    text-align: left;
}

p {
    text-align: left;
    font-size: 20px;
}

main {
    padding: 20px;
}

/* Add specific styles for navigation, main content, images, etc. */
header img {
    max-width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

main img {
    max-width: 50%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2em;
}

main p a {
    color: #054d3b;
    font-size: 30px;
    text-align: center;
    list-style-type: none;
    font-weight: bold;
}

main a:hover {
    color: #248d72;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    align-content: center;
    display: inline-block;
    font-size: 15px;
    padding: 10px;
    width: 100px;
    text-align: center;
    background-color: #054d3b;
    font-family: Trebuchet MS, sans-serif;
}


nav a {
    color: white;
    padding: 10px;
    display: inline;
}

section a {
    color: black
}

****
div a img{
    max-width: 20%;
    height: auto;
}
****

footer div p{
    color: white;
    text-align: left;
    padding: 10px;
    font-size: small;
    margin-bottom: 10px;

}

footer {
    background-color: rgb(28, 28, 28)
}

footer p{
    color: white

}

footer li {
    text-align: left;
    color: white;
    display: inline;

}

footer a {
    color: white;
    padding: 10px;
    display: inline;

}

.row {
    display: flex;
}

.column {
    flex: 33.33%;
    padding: 5px;
}

.card {
    background: white;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 25%;
    text-align: center;
    padding: 15px;
}

.catalog {
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    justify-content: center;
    padding: 20px;
}

.catalog h2 {
    margin: auto auto;
}

.img {
    width: 100%;
    max-height: auto;
    border-radius: 6px;
}

/* Media Queries*/
@media (max-width: 600px) {
    nav li {
        width: auto;
        padding: 5px;
    }

    h1,
    h2,
    h3,
    h4 {
        font-size: 24px;
    }
}